<%= form_for @finanz, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :Title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Datum, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :Datum, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Zahlungstyp, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Zahlungstyp, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Wert, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Wert, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                finanzs_path, :class => 'btn' %>
  </div>
<% end %>
